{% extends 'basesimple.html' %}

{% block mycss %}
  img {
    width : 150px;
    height : 150px;
    border : 1px solid;
    box-shadow : 2px 2px 5px 8px grey;
  }
  a {
    padding : 30px 0 25px;
    }
{% endblock %}
{% block mycontent %}
    <h1>원하는 상품을 클릭해 주세요!!!</h1>
    <hr>
    <figure>
        {% for i in list1 %}
        <a href="/workapp/basket1/?pid={{i}}"><img src="/static/images/{{i}}.jpg"></a>
        {% endfor %}
        <br>
        {% for i in list2 %}
        <a href="/workapp/basket1/?pid={{i}}"><img src="/static/images/{{i}}.jpg"></a>
        {% endfor %}
    </figure>
{% endblock %}