{% extends 'basesimple.html' %}

{% block mycss %}
  img {
    width : 150px;
    height : 150px;
    border : 1px solid;
    box-shadow : 2px 2px 5px 8px grey;
  }

{% endblock %}
{% block mycontent %}
    <h1>원하는 상품을 클릭해 주세요!!!</h1>
    <hr>
    <div>
        {%for href1 in hrefs1%}
        <a href="href1">
            {% endfor %}
            {% for image1 in images1 %}
            <img src="image1">
            {% endfor %}
        </a>
        <br>
        {%for href2 in hrefs2%}
        <a href="href2">
            {% endfor %}
            {% for image2 in images2 %}
            <img src="image2">
            {% endfor %}
        </a>
    </div>
{% endblock %}